gunicorn
absl-py
altair
antlr4-python3-runtime
asgiref
astunparse
attrs
black
blinker
cachetools
certifi
charset-normalizer
click
cloudpickle
colorama
colorcorrect
colour
contourpy
cycler
Cython
dataclasses
decorator
Django
dlib
entrypoints
fire
Flask
flatbuffers
fonttools
future
fvcore
gast
gitdb
GitPython
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
hydra-core
idna
image
imageio
imantics
imgaug
importlib-metadata
iopath
itsdangerous
Jinja2
joblib
jsonschema
keras
kiwisolver
labelme2coco
libclang
lxml
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
mypy-extensions
networkx
numpy
oauthlib
omegaconf
opencv-python
opt-einsum
packaging
pandas
pathspec
Pillow
pixellib
platformdirs
portalocker
protobuf
pyarrow
pyasn1
pyasn1-modules
pybboxes
pydeck
pydot
Pygments
Pympler
pyparsing
PyQt5
PyQt5-Qt5
PyQt5-sip
pyrsistent
python-dateutil
pytz
pytz-deprecation-shim
PyWavelets
pywin32
PyYAML
requests
requests-oauthlib
rich
rsa
sahi
scikit-image
scikit-learn
scipy
semver
shapely
six
smmap
sqlparse
streamlit
tabulate
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
terminaltables
threadpoolctl
tifffile
toml
tomli
toolz
tornado
tqdm
typing_extensions
tzdata
tzlocal
urllib3
validators
watchdog
Werkzeug
wrapt
xmljson
yacs
zipp
